US Water Stress Index for 3 different years

In [114]:
import pandas as pd
import numpy as np

In [115]:
pd.set_option('precision',3)

In [116]:
pop=pd.read_csv('population.csv',header=0,names=['state_or_territory',1990,2000,2010])

In [117]:
pop[:3]

  state_or_territory      1990      2000      2010
0         California  38332521  37253956  33871648
1              Texas  26448193  25145561  20851820
2           New York  19651127  19378102  18976457

In [118]:
len(pop[1990])

56

In [119]:
pop[1990]=pd.Series(np.random.randint(100,size=len(pop[1990])))/120
pop[2000]=pop[1990]+0.1
pop[2010]=pop[2000]+0.1

In [120]:
pop[1990]=pd.Series(np.random.randint(100,size=len(pop[1990])))/120
pop[2000]=pd.Series(np.random.randint(100,size=len(pop[2000])))/120
pop[2010]=pd.Series(np.random.randint(100,size=len(pop[2010])))/120

In [121]:
pop[:3]

  state_or_territory  1990  2000  2010
0         California  0.35  0.75  0.80
1              Texas  0.25  0.80  0.78
2           New York  0.47  0.59  0.28

In [122]:
pop.to_csv('wsindex.csv',index=False, float_format='%1.2f')

In [123]:
dsv=pd.read_csv('wsindex.csv')

In [124]:
dsv

          state_or_territory  1990  2000  2010
0                 California  0.35  0.75  0.80
1                      Texas  0.25  0.80  0.78
2                   New York  0.47  0.59  0.28
3                    Florida  0.04  0.65  0.53
4                   Illinois  0.26  0.51  0.14
5               Pennsylvania  0.31  0.26  0.53
6                       Ohio  0.42  0.38  0.74
7                    Georgia  0.26  0.47  0.32
8                   Michigan  0.33  0.19  0.35
9             North Carolina  0.68  0.68  0.70
10                New Jersey  0.72  0.31  0.07
11                  Virginia  0.67  0.28  0.48
12                Washington  0.44  0.82  0.72
13             Massachusetts  0.32  0.77  0.21
14                   Arizona  0.24  0.76  0.20
15                   Indiana  0.10  0.22  0.49
16                 Tennessee  0.49  0.63  0.59
17                  Missouri  0.82  0.17  0.03
18                  Maryland  0.68  0.32  0.81
19                 Wisconsin  0.49  0.07  0.55
20                 Minnesota  0.15  0.07  0.40
21                  Colorado  0.71  0.18  0.58
22                   Alabama  0.15  0.69  0.23
23            South Carolina  0.72  0.57  0.76
24                 Louisiana  0.71  0.82  0.81
25                  Kentucky  0.28  0.03  0.33
26                    Oregon  0.64  0.61  0.68
27                  Oklahoma  0.18  0.56  0.28
28               Puerto Rico  0.30  0.14  0.63
29               Connecticut  0.16  0.09  0.68
30                      Iowa  0.09  0.11  0.12
31               Mississippi  0.66  0.39  0.57
32                  Arkansas  0.13  0.38  0.38
33                      Utah  0.55  0.82  0.20
34                    Kansas  0.68  0.73  0.64
35                    Nevada  0.43  0.16  0.78
36                New Mexico  0.82  0.29  0.25
37                  Nebraska  0.38  0.58  0.43
38             West Virginia  0.36  0.68  0.51
39                     Idaho  0.11  0.72  0.60
40                    Hawaii  0.74  0.33  0.40
41                     Maine  0.18  0.28  0.13
42             New Hampshire  0.35  0.68  0.47
43              Rhode Island  0.00  0.23  0.46
44                   Montana  0.52  0.10  0.26
45                  Delaware  0.41  0.39  0.11
46              South Dakota  0.03  0.49  0.32
47                    Alaska  0.07  0.34  0.30
48              North Dakota  0.00  0.06  0.16
49      District of Columbia  0.62  0.22  0.70
50                   Vermont  0.04  0.13  0.19
51                   Wyoming  0.69  0.25  0.78
52                      Guam  0.07  0.28  0.02
53       U.S. Virgin Islands  0.78  0.80  0.29
54            American Samoa  0.17  0.74  0.78
55  Northern Mariana Islands  0.75  0.40  0.28

csv=np.arange(4).reshape(2,2)